
/*--------------------------- ESTILOS MARCOS DEL COLLAGE ----------------------*/
.marco-foto {
  height: 23vw;
}

.marco-foto-grande {
  height: 46vw;
}


/*--------------------------- PHOTO BOOTH ----------------------------*/
.photo-booth{
	padding: 3% 0;
	color: rgb(59, 89, 152);
	font-size: 120%;
}

/*------------------------------- FOOTER --------------------------------*/
.foot{
	background: transparent;
	border: transparent;
	color: white;
}

.foot.dropdown-toggle{
	color: rgb(59, 89, 152)
}
